SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_REFRESH_TOKEN=BQB_nFQU6R2vGGcZHJf6nYMm7L07dQB7E7DaeyZu8bf1tAqvoRF_H5we16RgP5qtHHktn8eap_nA6qH58nksUt6IwJN3osNMxMGcyGX_IoRcCdAJ96bXLiwIgypWEqbFrgUr5SJL3xSzndKPgAO2v3iZFNsDGaMu6yO5GU16zM8JYHx3zPMk08lVBo3NP9e9JPmgENJvM9R_zUC4fst_nwrKRkor6GJR6Auh4e_fJrGe0wOyZMzoR_HPrKxteF0dS0cRmGfmjwYXV9CD0jdTF31xNUmmAuuxsI-37yPNi1o

GITHUB_USERNAME=seziyy
GITHUB_TOKEN=your_github_personal_access_tokennpm 