SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_REFRESH_TOKEN=your_spotify_refresh_token

GITHUB_USERNAME=seziyy
GITHUB_TOKEN=your_github_personal_access_token